@charset "utf-8";

/*common css S*/
html{height: 100%;text-size-adjust:100%;overflow-x: hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,em,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ margin:0; padding:0;} 
button,input[type=submit],input[type=button],input[type=reset]{border: 0;background: none;appearance:none;-moz-appearance:none;-webkit-appearance:none;}
body a{outline:none;text-decoration:none;}/*A点击时 没有虚线*/
a:hover,a:focus{ outline:none; text-decoration: none;}
table{border-collapse:collapse;border-spacing:0;width: 100%;table-layout: fixed;}
h1,h2,h3,h4,h5,h6,input,select,button,textarea{ font-size:100%;font-weight: normal;}
textarea{outline:none; resize:none;}
i,em{font-style:normal;}
b{font-weight: normal;}
ol,ul,li{ list-style:none;}
/*common css E*/
body{font-size: .12rem;font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;-webkit-text-size-adjust: 100% !important;}
img{max-width:100%;}
button,input{
	outline: none;
}

